@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutAdmin";
}

<section>
        <div class="container mt-3 mb-3">
            <div class="mb-3">
                <h1 class="">GRID SYSTEM </h1>
            </div>
            <div class="row">
                <div class="col ">
                    <div class="mb-4 ">For example, here are two grid layouts that apply to every device and viewport, from xs to xl. Add any number of unit-less classes for each breakpoint you need and every column will be the same width.</div>
                    <div class="">While Bootstrap uses ems or rems for defining most sizes, pxs are used for grid breakpoints and container widths. This is because the viewport width is in pixels and does not change with the font size.</div>
                </div>
                <div class="col">
                    <div class="">Columns have horizontal padding to create the gutters b the margin from rows and padding from columns with .no-gutters on the .row.Columns have horizontal padding to create the gutters between individual columns, however, you can remove the margin from rows and padding from columns with .no-gutters on the .row.Columns have horizontal padding to create the gutters between individual columns, however, you can remove the margin from rows and padding from columns with .no-gutters on the .row.</div>
                </div>
            </div>
        </div>
        <div class="container mt-3 mb-3">
            <div class="mb-3">
                <h1 class="">GRID SYSTEM </h1>
            </div>
            <div class="row">
                <div class="col ">
                    <div class="mb-4 ">For example, here are two grid layouts that apply to every device and viewport, from xs to xl. Add any number of unit-less classes for each breakpoint you need and every column will be the same width.</div>
                    <div class="">While Bootstrap uses ems or rems for defining most sizes, pxs are used for grid breakpoints and container widths. This is because the viewport width is in pixels and does not change with the font size.</div>
                </div>
                <div class="col">
                    <img src="https://images.pexels.com/photos/689784/pexels-photo-689784.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" width="450" />
                </div>
            </div>
        </div>
        <section class="container tButton text-white mt-4">
            <div class="container text-center p-1">
                <h2>Click Button!!!</h2>
                <button id="ubahWarna" type="button" class=" btn btn-xl btn-outline-light  ">Success</button>
                <button id="ubahWarna" type="button" class=" btn btn-xl btn-outline-light  ">Danger</button>
                <button type="button" class="btn btn-xl btn-outline-light ">Warning</button>
            </div>
        </section>
          <div class="container  mt-3 mb-3 tButton">
            </div>
        <div class="container mt-3 mb-3">
            <div class="mb-3">
                <h1 class="">GRID SYSTEM </h1>
            </div>
            <div class="row">
                <div class="col ">
                    <div class="mb-4 bg-danger text-warning ">For example, here are two grid layouts that apply to every device and viewport, from xs to xl. Add any number of unit-less classes for each breakpoint you need and every column will be the same width.</div>
                    <div class=" bg-secondary text-white">While Bootstrap uses ems or rems for defining most sizes, pxs are used for grid breakpoints and container widths. This is because the viewport width is in pixels and does not change with the font size.</div>
                </div>
                <div class="col">
                    <div class="bg-dark text-light">Columns have horizontal padding to create the gutters b the margin from rows and padding from columns with .no-gutters on the .row.Columns have horizontal padding to create the gutters between individual columns, however, you can remove the margin from rows and padding from columns with .no-gutters on the .row.Columns have horizontal padding to create the gutters between individual columns, however, you can remove the margin from rows and padding from columns with .no-gutters on the .row.</div>
                </div>
            </div>
        </div>
    </section>


